<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCoZA4ZLX9vwkWj6wgZRNZ7skMnwU1HDuk</string>
	<key>GCM_SENDER_ID</key>
	<string>448551856463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.drumTest.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>rhythm-challenge-117ab</string>
	<key>STORAGE_BUCKET</key>
	<string>rhythm-challenge-117ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448551856463:ios:a473aa112a55f5d0603d3a</string>
</dict>
</plist>